<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form ng-submit="vm.submitPost(vm.post)">
      <div class="form-group">
        <input ng-model="vm.post.subject" class="form-control" placeholder="Subject" type="text">
      </div>
      <div class="form-group">
        <textarea ng-model="vm.post.body" class="form-control" placeholder="Body" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <input ng-model="vm.tags" class="form-control" placeholder="tags" type="text">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit post</button>
    </form>
  </div>
</div>