<h1>{{ vm.post.subject }}</h1>

<p>{{ vm.post.body }}</p>

<!-- <div class="container">
  <span>Tags:</span>
  <ul class="nav nav-pills">
    <li ng-repeat="tag in vm.post.tags">
      <a>{{ tag }}</a>
    </li>
  </ul>
</div> -->

<h2>Comments ({{ vm.post.comments.length || 0 }}) </h2>

<div ng-repeat="comment in vm.post.comments">
  <blockquote>
    <p>{{ comment.body }}</p>
    <footer>{{ comment.author }}></footer>
    <br>
    <button ng-click="vm.likeComment($index, vm.post._id)" class="btn btn-small btn-info">Like {{ comment.likes || 0 }}</button>
  </blockquote>


</div>

<h3>Add new comment</h3>
<div class="row">
  <div class="col-md-4">
    <form ng-submit="vm.submitComment(vm.comment, vm.post._id)">
      <div class="form-group">
        <input ng-model="vm.comment.author" class="form-control" placeholder="Author" type="text">
      </div>
      <div class="form-group">
        <textarea ng-model="vm.comment.body" class="form-control" placeholder="Body" cols="30" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit comment</button>
    </form>
  </div>
</div>